1.  Data exploration and loading

In [64]:
# importing dependancies
import pandas as pd

#Mysql
import pymysql #act as an adapter 
from sqlalchemy import create_engine

#Postgressql
import psycopg2

In [41]:
df=pd.read_csv(r"C:\Users\R I Y A Z\Desktop\Walmart- Project\Walmart.csv")

In [42]:
df

,Invoice,Branch,City,Category,Unit_price,Quantity,Date,Time,Payment_method,Rating,Profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
10046,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03-08-2023,10:10:00,Cash,3.0,0.33
10047,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22-02-2021,14:20:00,Cash,7.0,0.48
10048,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15-06-2023,16:00:00,Credit card,4.0,0.48
10049,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25-02-2021,12:25:00,Cash,7.0,0.48
10050,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26-09-2020,09:48:00,Cash,3.0,0.33

In [43]:
df.shape

(10051, 11)

In [44]:
df.head()

,Invoice,Branch,City,Category,Unit_price,Quantity,Date,Time,Payment_method,Rating,Profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48

In [16]:
df.describe()

            Invoice      Quantity       Rating   Profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice         10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   Category        10051 non-null  object
 4   Unit_price      10020 non-null  object
 5   Quantity        10020 non-null  float64
 6   Date            10051 non-null  object
 7   Time            10051 non-null  object
 8   Payment_method  10051 non-null  object
 9   Rating          10051 non-null  float64
 10  Profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [46]:
#check duplicate
df.duplicated().sum()

np.int64(51)

In [47]:
#Missing value
df.isnull().sum()

Invoice            0
Branch             0
City               0
Category           0
Unit_price        31
Quantity          31
Date               0
Time               0
Payment_method     0
Rating             0
Profit_margin      0
dtype: int64

In [48]:
#remove duplicate
df.drop_duplicates(inplace=True)

In [49]:
df.duplicated().sum()

np.int64(0)

In [50]:
# drop missing values records

df.dropna(inplace=True)

In [32]:
df.isnull().sum()

Invoice           0
Branch            0
City              0
Category          0
Unit_price        0
Quantity          0
Date              0
Time              0
Payment_method    0
Rating            0
Profit_margin     0
dtype: int64

In [34]:
#change the date type for the Unit price column

df.dtypes

Invoice             int64
Branch             object
City               object
Category           object
Unit_price         object
Quantity          float64
Date               object
Time               object
Payment_method     object
Rating            float64
Profit_margin     float64
dtype: object

In [51]:
df['Unit_price']=df['Unit_price'].str.replace('$','').astype(float)

In [52]:
df.head()

,Invoice,Branch,City,Category,Unit_price,Quantity,Date,Time,Payment_method,Rating,Profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48

In [82]:
df.dtypes

Invoice             int64
Branch             object
City               object
Category           object
Unit_price        float64
Quantity          float64
Date               object
Time               object
Payment_method     object
Rating            float64
Profit_margin     float64
Total             float64
dtype: object

In [83]:
#create a new columns 
df['Total']=df['Unit_price']*df['Quantity']
df['Total']

0       522.83
1        76.40
2       324.31
3       465.76
4       604.17
         ...
9995    111.00
9996    116.00
9997    156.00
9998    158.00
9999    186.00
Name: Total, Length: 9969, dtype: float64

In [66]:
df.to_csv('Walmart_cleaned_data',index=False)

In [65]:
# Mysql

#host= localhost
#port= 3306
#user = root
#password="Password"


#psql
#host= localhost
#port= 5432
#user = postgres
#password="Password"

In [92]:
# Connction to python to Mysql 
#mysql+pymysql://root:Riyaz@16@localhost:3306/dbname
engine_mysql = create_engine("mysql+pymysql://root@Riyaz@16localhost:3306/walmart")

try:
    engine_mysql
    print("Connection Successed to mysql")
except:
    print("Unable to connect")

Connection Successed to mysql

In [93]:
#export data to MYSQL 

df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '16' ([Errno 11001] getaddrinfo failed)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)